{{#if @webcams}}
  <div local-class='wrapper'>
    <h3 local-class='title'>{{t 'spot-info.webcams.title'}}</h3>
    <div local-class='spot-webcams-wrapper'>
      {{#each @webcams as |webcam|}}
        <Spot::SpotContent::Webcams::Preview @webcamUrl={{webcam}} />
      {{/each}}
    </div>
  </div>
{{else}}
  <div local-class='spot-webcams-fallback wrapper'>
    <h3 local-class='title'>{{t 'spot-info.webcams.title'}}</h3>
    <p>{{t 'spot-info.webcams.fallback.title'}}</p>
  </div>
{{/if}}