<div local-class="highlight-block" data-test-nav-bar-lang-selector-wrapper>
    <select aria-label={{t "layout.nav-bar.language-selector.aria-label" }} {{on "change" this.setSelectedLang}}>
        <Shared::Form::Option @value="en" @selectedValue={{this.selectedValue}}
            @label={{t "layout.nav-bar.language-selector.langs.en.label" }}
            @aria-label={{t "layout.nav-bar.language-selector.langs.en.aria-label" }} />
        <Shared::Form::Option @value="es" @selectedValue={{this.selectedValue}}
            @label={{t "layout.nav-bar.language-selector.langs.es.label" }}
            @aria-label={{t "layout.nav-bar.language-selector.langs.es.aria-label" }} />
    </select>
</div>