<option local-class="option" value={{@value}} selected={{if (eq @value @selectedValue) true false}} aria-selected={{if (eq
    @value @selectedValue) true false}} aria-label={{@aria-label}}>{{@label}}</option>