<div
  local-class='form__select-wrapper'
  class='black-border'
  data-test-form-select-wrapper
  ...attributes
>
  <select
    {{on 'change' @onChangeHandler}}
    aria-label={{@aria-label}}
    data-test-form-select
  >
    <option selected data-test-form-default-option>{{@label}}</option>
    {{yield to='options'}}
  </select>
  {{svg-jar
    'chevron-down'
    local-class='chevron-down'
    aria-hidden='true'
    data-test-form-select-chevron='svg'
  }}
</div>